@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Norse Bold";
  src: url("./fonts/Norse-Bold.otf") format("opentype");
}

body {
  background-color: #79B4B7;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  height: 80%;
  min-width: 100%;
  justify-content: center;
}

.legend-container {
  width: 30%;
}
  
.fjord {
  position: relative;
  height: 100%;
  width: 100%;
  
}

.odin-icon {
  position: relative;
  width: 150px;
  left: 37%;
  bottom: 75%;
  
}

.legend {
  position: relative;
  bottom: 75%;
  left: 17%;
  font-size: 66px;
  font-family: "Norse Bold";
  color: #fff;
}

.legend-credit {
  position: relative;
  bottom: 45%;
  left: 24%;
  color: #fff;
}

a {
  color: inherit
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: #F7F5F2;
  width: 40%;
  
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.heading p {
  width: 620px;
  font-size: 22px;
  margin-left: 40px;
  
}

.form-container {
  background-color: #fff;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 0px 2px 1px rgba(116, 114, 114, 0.144);
}

.form-p {
  margin: 0 0 20px 10px;

}

.name-container, 
.contact-container,
.password-container  {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 0 10px;
  gap: 70px;
}

.first-name,
.last-name,
.email,
.phone,
.password,
.confirm-password {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  letter-spacing: 3px;
}

input {
  margin-top: 5px;
  height: 25px;
  width: 200px;
}

.validInput {
  border: 1px solid green;
}

.invalid-input {
  border: 1px solid red;
}

input[type="submit"] {
  width: 150px;
  height: 40px;
  margin: 20px 0;
  font-size: 16px;
  border-radius: 8px;
  font-weight: bold;
  color: #fff;
  background-color: #548CA8;
  cursor: pointer;
}

.invalid-span {
  margin-top: 10px;
  color: red;
}

.password-span, .confirm-password {
  display: flex;
  width: 100%;
}

.signup-container {
  margin-left: 40px;
}

.image-container {
  width: 30%;
  height: 100%;
}

.tundra {
  width: 100%;
  height: 100%;
}

form {
  width: 100%;
}

.image-credit {
  position: relative;
  left: 30%;
  bottom: 5%;
  color: #fff;
}