@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Norse Bold";
  src: url("./fonts/Norse-Bold.otf") format("opentype");
}

body {
  background-color: #79B4B7;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  height: 85%;
  min-width: 100%;
  justify-content: center;
}

.legend-container {
  width: 28%;
}
  
.fjord {
  position: fixed;
  height: 85%;
  width: 28%;
  
}

.odin-icon {
  position: fixed;
  width: 10%;
  left: 9%;
  bottom: 40%;
  
}

.legend {
  position: fixed;
  bottom: 27%;
  left: 2.5%;
  font-size: 4vw;
  font-family: "Norse Bold";
  color: #fff;
}

.legend-credit {
  position: fixed;
  bottom: 12%;
  left: 5%;
  color: #fff;
  font-size: clamp(12px, 1vw, 24px);
  width: 22vw;
}

a {
  color: inherit
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: #F7F5F2;
  width: 44%;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.heading p {
  width: 80%;
  font-size: clamp(16px, 1.5vw, 24px);
  margin-left: 40px;
}

.form-container {
  background-color: #fff;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0px 0px 2px 1px rgba(116, 114, 114, 0.144);
}

.form-p {
  margin: 0 0 20px 10px;
  font-size: clamp(18px, 1vw, 22px);
}

.name-container, 
.contact-container,
.password-container  {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0 0 10px;
  gap: 70px;
}

.first-name,
.last-name,
.email,
.phone,
.password,
.confirm-password {
  display: flex;
  flex-direction: column;
  font-size: clamp(10px, 1vw, 14px);
  letter-spacing: 3px;
}

input {
  margin-top: 5px;
  height: 3vh;
  width: 80%
}

.validInput {
  border: 1px solid green;
}

.invalid-input {
  border: 1px solid red;
}

input[type="submit"] {
  width: 13vw;
  height: 40px;
  margin: 20px 0;
  font-size: 16px;
  border-radius: 8px;
  font-weight: bold;
  color: #fff;
  background-color: #548CA8;
  cursor: pointer;
}

.invalid-span {
  margin-top: 10px;
  color: red;
}

.fname-span,
.lname-span,
.password-span,
.confirm-password-span {
  max-width: max(150px, 110px);
  font-weight: bold;
}

.signup-container {
  margin-left: 40px;
}

.signup-container p {
  font-size: clamp(14px, 1vw, 24px);
}

.image-container {
  width: 28%;
  height: 100%;
}

.tundra {
  position: fixed;
  width: 28%;
  height: 85%;
}

form {
  width: 100%;
}

.image-credit {
  position: fixed;
  right: 0%;
  bottom: 12%;
  color: #fff;
  font-size: clamp(12px, 1vw, 24px);
  width: 22vw;
}